.box47{
    position: relative;
    overflow: hidden;
    box47-shadow: 0 0 5px #808080;
}
.box47:before,
.box47:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.box47:before{
    bottom: 5%;
    left: 5%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.box47:after{
    top: 5%;
    right: 5%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.box47:hover:before,
.box47:hover:after{
    opacity: 1;
    width: 90%;
    height: 90%;
}
.box47 img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}
.box47:hover img{
    transform: scale(1.05);
}
.box47 .box47-content{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.box47 .title47,
.box47 .post47{
    display: block;
    font-size: 25px;
    color: #fff;
    line-height: 25px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.box47:hover .title47,
.box47 .post47{
    opacity: 0;
}
.box47:hover .post47{
    opacity: 1;
}
@media only screen and (max-width: 990px){
    .box47{ margin-bottom: 20px; }
}