.box21{
    overflow: hidden;
    box21-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
}
.box21:before,
.box21:after{
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: 100% 0;
    transform: rotateZ(90deg);
    transition: all 0.3s ease 0s;
}
.box21:after{
    top: auto;
    bottom: 0;
    transform-origin: 0 100%;
}
.box21:hover:before,
.box21:hover:after{ transform: rotateZ(0); }
.box21 img{
    width: 100%;
    height: auto;
    transform: scale(1) rotate(0);
    transition: all 0.3s ease 0s;
}
.box21:hover img{
    filter: sepia(80%);
    transform: scale(1.3) rotate(10deg);
}
.box21 .title21{
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #004cbf;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transition: all 0.5s ease 0.2s;
}
.box21:hover .title21{
    opacity: 1;
    transform: scale(1);
}
.box21 .icon21{
    padding: 7px 5px;
    margin: 0;
    list-style: none;
    text-align: center;
    background: #004cbf;
    border-radius: 0 0 0 10px;
    position: absolute;
    top: -100%;
    right: 0;
    z-index: 2;
    transition: all 0.3s ease 0.2s;
}
.box21:hover .icon21{ top: 0; }
.box21 .icon21 li{
    display: block;
    margin: 10px 0;
}
.box21 .icon21 li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.box21 .icon21 li a:hover{
    color: #fff;
    box21-shadow: 0 0 10px #000 inset,0 0 0 3px #fff;
}
@media only screen and (max-width:990px){
    .box21{ margin-bottom: 30px; }
}