.our-team15{
    text-align: center;
}
.our-team15 .pic15{
    position: relative;
}
.our-team15 .pic15:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.our-team15 .pic15:after{
    content: "";
    width: 90%;
    height: 90%;
    border: 1px solid #f5f5f6;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.our-team15:hover .pic15:before,
.our-team15:hover .pic15:after{
    opacity: 1;
}
.our-team15 .pic15 img{
    width: 100%;
    height: auto;
}
.our-team15 .social-links15{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.our-team15:hover .social-links15{
    opacity: 1;
}
.our-team15 .social-links15 li{
    display: inline-block;
    margin-right: 10px;
}
.our-team15 .social-links15 li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #f5f5f6;
    border: 1px solid #f5f5f6;
    transition: all 0.3s ease 0s;
}
.our-team15 .social-links15 li .fa-twitter:hover{
    background: #00aced;
    border-color: #00aced;
}
.our-team15 .social-links15 li .fa-google-plus:hover{
    background: #c03c30;
    border-color: #c03c30;
}
.our-team15 .social-links15 li .fa-linkedin:hover{
    background: #0177b5;
    border-color: #0177b5;
}
.our-team15 .social-links15 li .fa-facebook:hover{
    background: #4867aa;
    border-color: #4867aa;
}
.our-team15 .team-content15{
    padding: 15px 0;
    background: #323232;
    border-top: 2px solid #d36832;
    overflow: hidden;
    position: relative;
}
.our-team15 .team-content15:before{
    content: "";
    width: 100%;
    height: 100%;
    background: #d36832;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all 0.3s ease-out 0s;
}
.our-team15:hover .team-content15:before{
    top: 0;
}
.our-team15 .title15{
    font-size: 24px;
    color: #04bea8;
    margin: 0 0 5px;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease 0s;
}
.our-team15 .post15{
    display: block;
    font-size: 14px;
    color: #f5f5f6;
    text-transform: capitalize;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease 0s;
}
.our-team15:hover .title15,
.our-team15:hover .post15{
    color: #fff;
}
@media screen and (max-width: 990px){
    .our-team15{ margin-bottom: 20px; }
}