.our-team16 .pic16{
    position: relative;
    overflow: hidden;
}
.our-team16 .pic16 img{
    width: 100%;
    height: auto;
}
.our-team16 .over-layer16{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(156, 136, 185, 0.7);
    transition: all 0.5s ease 0s;
}
.our-team16:hover .over-layer16{
    bottom: 0;
}
.our-team16 .over-layer16:before{
    content: "";
    width: 90%;
    height: 0;
    position: absolute;
    top: 5%;
    left: 5%;
    border-top: 5px solid rgba(255,255,255,0.7);
    border-left: 5px solid rgba(255,255,255,0.7);
    opacity: 0;
    transition: all 0.5s ease 0.5s;
}
.our-team16:hover .over-layer16:before{
    opacity: 1;
    height: 90%;
}
.our-team16 .social-links16{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: relative;
    top: 45%;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease 1s;
}
.our-team16:hover .social-links16{
    opacity: 1;
    transform: scale(1);
}
.our-team16 .social-links16 li{
    display: inline-block;
    margin-left: 5px;
}
.our-team16 .social-links16 li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    color: #fff;
    background: rgba(11, 32, 56, 0.7);
}
.our-team16 .team-content16{
    background: #f3f5f7;
    padding: 30px 25px;
}
.our-team16 .team-title16{
    font-size: 18px;
    font-weight: 700;
    color: #5d5e5e;
    margin: 0 0 5px 0;
}
.our-team16 .post16{
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #898989;
    margin-bottom: 15px;
}
.our-team16 .post16:after{
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background: #9c88b9;
    margin-top: 7px;
}
.our-team16 .description{
    font-size: 14px;
    color: #898989;
}
.our-team16 .read16{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 8px 8px 50px;
    background: #9c88b9;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease 0s;
}
.our-team16 .read16:hover{
    background: #6dc1b3;
    text-decoration: none;
    color: #000;
}
.our-team16 .read16:after{
    content: "";
    width: 36px;
    height: 100%;
    background: #9c88b9;
    position: absolute;
    top: 0;
    right: -18px;
    transform: skewX(-45deg);
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.our-team16 .read16:hover:after{
    background: #6dc1b3;
}
@media screen and (max-width: 990px){
    .our-team16{ margin-bottom: 20px; }
}