.our-team3{
    border: 1px solid #dedede;
    text-align: center;
    color: #8b2635;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.our-team3:hover{
    background: #8b2635;
    color: #fff;
}
.our-team3 .pic3{ position: relative; }
.our-team3 .pic3 img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}
.our-team3:hover .pic3 img{ transform: translateY(-20px); }
.our-team3 .social3{
    width: 20%;
    height: 100%;
    background: #8b2635;
    padding: 20px 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.5s ease 0s;
}
.our-team3:hover .social3{ left: 0; }
.our-team3 .social3 li{ display: block; }
.our-team3 .social3 li a{
    display: block;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.our-team3 .social3 li a:hover{ color: #ff9b19; }
.our-team3 .team-content3{ padding: 25px 0; }
.our-team3 .title3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.our-team3 .post3{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .our-team3{ margin-bottom: 30px; }
}